$module: '.account-overview';

#{$module} {
  padding: 0 $padding $padding;
}

#{$module}__message {
  display: block;
  margin: 0;
}

#{$module}__panel {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#{$module}__avatar {
  margin: 10px 0;
  max-width: 100px;
}

#{$module}__avatar--logged-in {
  border-radius: 50%;
}
