<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    <div class="account-overview" padding>

      <div class="account-overview__panel" *ngIf="!isAuthenticated">
        <p>you are not signed in</p>
        <button ion-button block outline color="dark" (click)="signInWithGoogle()">Log in</button>
      </div>

      <div class="account-overview__panel" *ngIf="isAuthenticated">
        <p>Welcome Back {{displayName}}</p>
        <img class="account-overview__avatar" [src]="photoURL">
        <button ion-button clear (click)="signInWithGoogle()">log out</button>
      </div>      
    </div>    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>