<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    <div class="account-overview">

      <div class="account-overview__panel" *ngIf="!isAuthenticated">
        <img class="account-overview__avatar account-overview__avatar--anonymous" src="assets/images/blank_avatar.svg" alt="anonymous avatar">
        <p class="account-overview__message">You are not currently signed in</p>
        <button ion-button block (click)="signInWithGoogle()">Log in with Google</button>
      </div>

      <div class="account-overview__panel" *ngIf="isAuthenticated">
        <p class="account-overview__message">Well, hey there {{displayName}}.</p>
        <img class="account-overview__avatar account-overview__avatar--logged-in" [src]="photoURL">
        <button ion-button block outline (click)="signInWithGoogle()">log out</button>
      </div>      
    </div>    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>